.image-slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

img {
  width: 125%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.slider-button {
  height: 100%;
}

.code-highlights-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-box {
  display: flex;
  margin: 10px;
  margin: 65px;
  flex-direction: column;
  align-items: center;
}

.small-text {
  color: var(--cream-color);
  background-color: var(--red-color);
  padding: 10px;
  border: 2px solid black;
  width: 65%;
}
.title-text {
  text-shadow: -5px 4px 8px rgb(255 255 255 / 86%);
}
