.title-container {
  background-color: var(--cream-color);
  display: flex;
  justify-content: center;
  margin: 87px;
  font-size: 160%;
  flex-direction: column;
  box-shadow: 0 4px 8px rgb(24 24 24);
  padding: 10px;
  background-image: url(https://cdn.openart.ai/stable_diffusion/7ab795ba65d72ab94185e6bf96d3cbb27b386ee4_2000x2000.webp);
}

.button-box {
  display: flex;
  justify-content: flex-end;
}

.main-home {
  display: flex;
  flex-direction: column;
}

.contact-button {
  background-color: var(--orange-color);
  margin-right: 24%;
  font-size: x-large;
  border: var(--cream-color);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgb(24 24 24);
  padding: 8px;
}

.icon {
  height: 45px;
  padding: 12px;
}

.social-links {
  margin-right: 24%;
}
