.title-container {
  display: flex;
  justify-content: center;
  font-size: 200%;
  flex-direction: column;
  box-shadow: 0 4px 8px rgb(24 24 24);
  padding: 10px;
  color: var(--cream-color);
  max-width: 100%;
  margin: 1%;
  margin-top: 5%;
  margin-bottom: 220px;
}

.main-home {
  display: flex;
  flex-direction: column;
}

.contact-button {
  background-color: var(--cream-color);
  font-size: x-large;
  border: var(--cream-color);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgb(24 24 24);
  padding: 8px;
}

.icon {
  height: 45px;
  padding: 12px;
}

.third-line-text {
  margin-bottom: 200px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.date-time {
  display: flex;
  justify-content: flex-end;
}
