main {
  background-image: url(src/assets/de77f22f708624e15102fb8d92a8c162.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-container {
  background-color: var(--cream-color);
  display: flex;
  justify-content: center;
  margin: 87px;
  font-size: 160%;
  border: 5px;
  border-color: var(--teal-color);
}
