/*========Google Fonts ======*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=EB+Garamond:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

/*========Variables CSS ======*/
:root {
  /* Colors */
  /* Color mode HSL */
  --teal-color: #84a69d;
  --red-color: #85331e;
  --orange-color: #c8733a;
  --cream-color: #fff4dc;
  --gray-color: #bec0b2;

  /* Font & Typography */
  --body-font: "DM Serif Display", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* font weight */
  --font-medium: 500;
  --front-semibold: 600;
  --font-bold: 700;

  /* box shadow */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /* border radius */
  --border-radius: 20px;
}

/* responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--cream-color);
  font-size: 150%;
}

.nav-item {
  padding: 10px;
  color: black;
}

.item {
  margin: 30px;
}
.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}
.footer {
  width: 100%;
  bottom: 0;
}

main {
  background-image: url(https://cdn.openart.ai/stable_diffusion/7ab795ba65d72ab94185e6bf96d3cbb27b386ee4_2000x2000.webp);
  background-size: cover;
  height: max-content;
}

#root {
  height: 100%;
}

a {
  color: var(--cream-color);
}

a:hover {
  color: var(--red-color);
  transition: color 0.3s ease;
}
